/* Start Genral */
main .content .friends-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

@media (max-width: 767px) {
  main .content .friends-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 0px;
    margin-right: 10px;
    gap: 10px;
  }
}

@media (max-width:767px) {
  main .content .friends-page {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.content {
  padding-top: 20px;
}

.content .friend {
  border-radius: 10px;
  background-color: white;
  position: relative;
  text-align: center;

}

main h1::after {
  right: 40px;
}


/* End Genral */
.content .friend:nth-child(1),
.content .friend:nth-child(2),
.content .friend:nth-child(3) {
  margin-top: 20px;
}

@media (max-width:1115px) {

  .content .friend:nth-child(3) {
    margin-top: 0px;

  }
}

@media (max-width:767px) {

  .content .friend:nth-child(2) {
    margin-top: 0px;

  }
}

.friends-page .friend .contact {
  position: absolute;
  top: 5%;
  left: 5%;
}

.friends-page .friend .contact i {
  padding: 5px;
  background-color: #eee;
  border-radius: 50%;
  color: var(--grey-color)
}

.friends-page .friend .img-container {
  margin: 20px;
}

.friends-page .friend .img-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;

}

.friends-page .friend .img-container h4 {
  margin: 0;
}

.friends-page .friend .img-container p {
  color: var(--grey-color);
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}


.friends-page .friend .icons {
  font-size: 14px;
  position: relative;
  margin: 15px 0 0;
  display: flex;
  justify-content: space-between;
}


.friends-page .friend .icons::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eee;
  top: -10px;
  right: 0px;
}


.friends-page .friend .icons::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eee;
  bottom: 0px;
  right: 0px;
}

.friends-page .friend .icons div {
  margin-bottom: 10px;
  position: relative;
  left: 6%;
  width: fit-content;
}


.friends-page .friend .icons .vip {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 10%;
  top: 15%;
  color: var(--orange-color);
  opacity: 0.5;
}

.friends-page .friend .info {
  display: flex;
  padding: 20px;
  justify-content: space-between;

}

.friends-page .friend .info span {
  font-size: 14px;
  color: var(--grey-color);
}


.friends-page .friend .info div a {
  padding: 5px;
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.friends-page .friend .info div a:first-of-type {
  background-color: var(--blue-color);
}

.friends-page .friend .info div a:last-of-type {
  background-color: var(--red-color);
}